* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Cabin", Sans-Serif;
}

body {
  background-color: antiquewhite;
}

#notLoggedIn {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}
#notLoggedIn > h3 {
  color: #6182AE;
  font-size: 20px;
  margin: 10px auto;
}

#loginButton {
  border: solid 5px #96B1D4;
  border-radius: 50px;
  padding: 5px 20px;
  font-size: 80px;
  background-color: whitesmoke;
  color: #96B1D4;
  margin: 10px auto;
}
#notLoggedIn > img {
  margin: 20px auto;
  height: 260px;
  width: 260px;
}
#loginButton:hover {
  border-color: #D7E6FA;
  color: #D7E6FA;
}

#loggedIn {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 80%;
}
header > h1 {
  color: #6182AE;
  margin: 10px auto;
  font-family: "Cabin", Sans-Serif;
}
header > h3 {
  color: #96B1D4;
  margin: 5px auto;
  font-family: "Roboto Condensed", Sans-Serif;
}

form {
  margin: 30px auto;
  color: #96B1D4;
}

input {
  text-align: center;
}

#songSearch,
#artistSearch,
#searchButton {
  border: solid 2px #96B1D4;
  border-radius: 30px;
  padding: 10px 30px;
}

#songSearch,
#artistSearch {
  margin: 5px auto;
}

#searchButton {
  margin: 5px auto;
  background-color: whitesmoke;
}

#searchButton:hover {
  border-color: #D7E6FA;
  color: #D7E6FA;
}

#results {
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 80%;
  color: #6182AE;
  font-family: "Roboto Condensed", Sans-Serif;
}

#results > p {
  margin: 10px auto;
  font-size: 18px;
}



